<template>
  <div class="container">
    <div v-if="this.$store.state.users.length">
      {{ this.$store.state.users }}
    </div>
  </div>
</template>

<script>
import Users from '@/services/Users';

export default {
  name: 'Main',
  data() {
    return {
      users: []
    }
  },
  props: {
    msg: String
  },
  methods: {
    async getUsers () {
      const response = await Users.getUsers();
      this.users = response.data;
      response.data.forEach(element => {
        this.$store.commit('add', element)
      });
    }
  },
  mounted() {
    this.getUsers();
  },
}

</script>
